<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brevada.tablet" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Brevada Tablet</name>
    <description>
		The official Brevada Tablet app.
	</description>
    <author email="noah@brevada.com" href="http://brevada.com">
		Brevada Team
	</author>
    <content src="index.html" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="OverrideUserAgent" value="BrevadaTablet/0.0.4" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="ShowTitle" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="21" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="BackgroundColor" value="0xFFFFFF" />
    <preference name="DisallowOverscroll" value="true" />

    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <plugin name="cordova-plugin-insomnia" spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-uniquedeviceid" spec="~1.3.2" />
    <plugin name="cordova-plugin-device" spec="~1.0.1" />
    <plugin name="cordova-plugin-battery-status" spec="~1.2.3" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.2" />
    <plugin name="cordova-plugin-x-toast" spec="~2.6.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-file" spec="~4.3.2" />
    <plugin name="cordova-plugin-android-permissions" spec="~0.11.0" />
    <plugin name="com.noahnu.cordova.preventexit" spec="https://github.com/noahnu/cordova-prevent-exit.git" />
</widget>
