<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.noahnu.cordova.preventexit" version="0.0.1">
	<name>PreventExit</name>
	<description>Prevent user from exiting app.</description>
	<author>noahnu.com</author>
	<license>MIT License</license>
	<keywords>cordova,security</keywords>
	<js-module src="www/preventexit.js" name="PreventExit">
		<clobbers target="window.PreventExit" />
	</js-module>
	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>
	<platform name="android">
		<source-file src="src/android/PreventExit.java" target-dir="src/android/com/noahnu/cordova/preventexit" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PreventExit" >
				<param name="android-package" value="com.noahnu.cordova.preventexit.PreventExit"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.REORDER_TASKS" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.HOME" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.settings.SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.settings.WIRELESS_SETTINGS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</config-file>
	</platform>
</plugin>